[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
notebook = "*"
pandas = "*"
awswrangler = "*"
dtale = "*"
dash = "<3.0"
sqlalchemy = "*"
python-dotenv = "*"
psycopg2-binary = "*"
tqdm = "*"
ipywidgets = "*"
scikit-learn = "*"
seeborn = "*"
seaborn = "*"
pydantic-settings = "*"

[dev-packages]

[requires]
python_version = "3.13"
